@font-face {
    font-family: Quicksand;
    src: url("..\\quantum screen assets\\Quicksand font 1\\static\\Quicksand-Regular.ttf");
  }
  
  @font-face {
    font-family: Quicksand;
    src: url("..\\quantum screen assets\\Quicksand font 1\\static\\Quicksand-Bold.ttf");
    font-weight: bold;
  }
  
  @font-face {
    font-family: Quicksand;
    src: url("..\\quantum screen assets\\Quicksand font 1\\static\\Quicksand-SemiBold.ttf");
    font-weight: 600;
  }
  
  @font-face {
    font-family: Quicksand;
    src: url("/quantum screen assets/Quicksand font 1/static/Quicksand-Medium.ttf");
    font-weight: 500;
  }
  
  body {
    margin: 0;
    font-family: Quicksand, Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: #eeeeee;
  }
  
  p {
    color: #666666;
    font-size: 12px;
    margin: 0;
    margin-right: 10px;
  }
  
  .navbar {
    background-color: #25313f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
  }
  
  .navbar .navbg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    background: transparent url("../header pattern image.png");
    mix-blend-mode: overlay;
    opacity: 0.8;
    z-index: -1;
  }
  
  .navbar .navbar-brand {
    padding-left: 25px;
  }
  
  .navbar .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin-left: auto;
    -webkit-transition: height 1s;
    transition: height 1s;
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    /* background: red;  */
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0px;
    color: #3fd28b;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 16px 15px 16px;
    text-align: center;
  }
  
  .navbar .navbar-nav .nav-item:hover .nav-link {
    letter-spacing: 0px;
    color: #fff;
    border-bottom: 4px solid #fff;
  }
  
  .navbar .navbar-nav .nav-item.active .nav-link {
    /* background: red;  */
    letter-spacing: 0px;
    color: #fff;
    border-bottom: 4px solid #fff;
  }
  
  .navbar .notifications {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* margin-right: 10px; */
  }
  
  .navbar .notifications div {
    padding: 0 25px 0 0;
    position: relative;
  }
  
  .navbar .notifications div img {
    width: 21px;
    height: 24px;
  }
  
  .navbar .notifications div .badge {
    display: inline-block;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    position: absolute;
    background-color: #2a7ff3;
    top: -4px;
    left: 14px;
    color: #fff;
    border-radius: 100px;
    width: 17px;
  }
  
  .navbar .notifications div#user .badge {
    background-color: #fff;
    width: 16px;
    height: 16px;
    top: -2px;
    left: 20px;
    color: #222222;
    font-size: 8px;
  }
  
  .navbar .notifications div#user img {
    width: 32px;
    height: 32px;
  }
  
  .navbar .navbar-toggler {
    border: none;
    display: none;
  }
  
  .navbar .navbar-toggler:focus {
    border: none;
  }
   
  @media screen and (max-width: 768px) {
    .navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      mix-blend-mode: normal;
      opacity: 1;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      height: 56px;
    }
    .navbar .navbar-brand {
      padding-left: 25px;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
    }
    .navbar .navbar-nav {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
      -webkit-box-flex: 100%;
          -ms-flex: 100%;
              flex: 100%;
      z-index: 1000;
      background-color: #25313f;
    }
    .navbar .navbar-nav.hide {
      display: none;
    }
    .navbar .navbar-nav .nav-item .nav-link {
      /* background: red;  */
      display: block;
      padding: 10px;
      text-transform: uppercase;
      font-size: 14px;
      padding: 15px 32px;
    }
    .navbar .navbar-nav .nav-item.active .nav-link {
      /* background: red;  */
      letter-spacing: 0px;
      color: #fff;
      border-bottom: 4px solid #fff;
    }
    .navbar .notifications {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin-left: auto;
      padding: 10px 0px;
      /* margin-right: 10px; */
    }
    .navbar .notifications div {
      padding: 0 25px 0 0;
      position: relative;
    }
    .navbar .notifications div img {
      width: 21px;
      height: 24px;
    }
    .navbar .notifications div .badge {
      display: inline-block;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 12px;
      position: absolute;
      background-color: #2a7ff3;
      top: -4px;
      left: 14px;
      color: #fff;
      border-radius: 100px;
      width: 17px;
    }
    .navbar .navbar-toggler {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      border: none;
      display: inline-block;
      background: url("../icons/hamburger-menu.svg") no-repeat;
      background-size: cover;
      width: 30px;
      height: 30px;
      padding: 20px;
      margin-right: 24px;
    }
    .navbar .navbar-toggler:focus {
      border: none;
    }
    .navbar .navbar-toggler .navbar-toggler-icon {
      color: #1f7a54;
      background-repeat: no-repeat;
      background-size: cover;
      outline: none;
      border: none;
      display: inline;
    }
    .inner-container .card {
      margin: inherit auto;
      width: 571px;
    }
  }
  @media screen and (max-width: 600px) {
    .navbar-nav.nav-item a:not(:first-child) {display: none;}
    .navbar-nav.nav-item a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.container-body{
    margin: 24px;

}
.container-body .container-title {
    background: #8ddc97;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px;
  }
  .container-body.container-title.title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    cursor: pointer;
  }
  .container-body .container-title .title img {
    width: 24px;
  }
  .container-body .container-title .title span {
    font-size: 24px;
    margin: 0 8px;
    font-weight: bold;
  }
  .container-body .container-title .title h2 {
    font-size: 16px;
    margin: 0;
  }
  .container-body .secondary-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    border-bottom: 1px solid #00000021;
    padding-bottom: 10px;
    margin: 20px 0px;
    padding: 17px 0;
  }
  
  .container-body .secondary-title .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .container-body .secondary-title .dropdown label {
    width: 100%;
    padding: 0 6px;
    color: #686868;
    font-size: 12px;
  }
  
  .container-body .secondary-title .dropdown select {
    /* color: black; */
    border: none;
    border-bottom: 1px solid #00000022;
    font-size: 16px;
    background: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url("../icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 100%;
    font-weight: 500;
  }
  
  .container-body .secondary-title .dropdown img {
    width: 12px;
    height: 24px;
    margin-left: 24px;
  }
  